@font-face {
    font-family: 'rye';
    src: url('./assets/fonts/Rye-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'rye', Arial, sans-serif;
    background-image: url('./assets/img/5_background/layers/air.png');
    background-size: cover;
    background-position: center;
    height: 100svh;
}

.content {
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.back-link {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    margin-right: 20px;
    background-color: #ffaa00;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.back-link:hover {
    background-color: #ffcc00;
}