@font-face {
    font-family: 'rye';
    src: url('./fonts/Rye-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'rye', Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

#gameCanvas {
    background-color: #87CEEB;
    border: 2px solid black;
}

@media (max-width: 720px) {
    #gameCanvas {
        width: 100%;
        height: auto;
    }
}

@media (max-height: 480px) and (orientation: landscape) {
    #gameCanvas {
        width: auto;
        height: 100svh;
    }
}