@font-face {
    font-family: 'rye';
    src: url('./fonts/Rye-Regular.ttf') format('truetype');
}

body {
    font-family: 'rye', Arial, sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

#gameCanvas {
    background-color: #87CEEB;
    border: 2px solid black;
}